* {
    margin: 0;
    padding: 0;
}

body {
    font-family: raleway, Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a {    
    padding: 40px 30px 30px 30px;
    text-decoration: none;
    color: #000000;

}

nav a:visited {
    color: #000000;
}

nav a:hover {
    border-top: 2px #0065fc solid;
    color: #0065fc;
}

.logo {
    margin-top:  30px;
    margin-bottom: 30px;
    width: 120px;
}

h1 + p {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
}

h2 {
    margin-right: 20px;
}

.redimension {
    width: 95%;
    margin: auto
}

.barre-de-recherche {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.location-icon {
    height: 75px;
    background-color: #d9d9d9;
    border-radius: 20px 0px 0px 20px;
}

.location-icon i {
    padding: 30px;
}

form {
    display: flex;
    align-items: center;
}

input[type="search"] {
    padding-right: 0px;
    height: 75px;
    margin: 0px;
    padding: 25px;
    font-family: raleway;
    font-size: 20px;
    font-weight: bold;
}

input[type="submit"] {
    height: 75px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px;
    background-color:#0065fc;
    color: white;
    border: none;
    border-radius: 0px 20px 20px 0px;
}

.barre-filtre {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
}

.bouton-filtre {
    margin: 20px;
    border: solid #d9d9d9 1px;
    border-radius: 50px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;

}

.bouton-filtre:hover {
    background-color: #deebff;
}

a {
    color: #0065fc
}

a:visited {
    color: #0065fc;
}

.flex-section-aside {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hébergement-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#hébergement {
    background-color:#d9d9d9;
    width: 60%;
    border-radius: 15px;
    margin-top: 30px;
    padding: 40px;
}

#hébergement a {
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-left: 35px;
    font-weight: bold;
}

.hébergement-div {
    width: 26%;
    margin-bottom: 30px;
    height: 230px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
}
.hébergement-div img {
    width: 97%;
    height: 72%;
    border-radius: 10px 10px 0px 0px;
    margin: 5px;
    object-fit: cover;
    display: flex;
    justify-content: center;
}
.hébergement-div h4, .hébergement-div p {
    margin-left: 10px;
}

.hébergement-div h4, .hébergement-div p {
    font-size: 0.8em;
}

.hébergement-div i {
    color: #0065fc;
}

h3 {
    padding-bottom: 30px;
    font-size: 1.2em;
}

aside {
    width: 30%;
    background-color: #d9d9d9;
    margin-top: 30px;
    border-radius: 15px;
    padding: 40px;
    margin-left: 30px;
}

.align-header-aside {
    display: flex;
    justify-content: space-between;
}

.align-header-aside h5 {
    font-size: 1.2em;
}

.align-header-aside i {
    font-size: 1.2em;
    color: #0065fc;
}

.populaires-div {
    background-color: white;
    display: flex;
    border-radius: 10px 10px 10px 10px;
    margin-top: 25px;
    height: 20%;
}

.populaires-div div {
    display: flex;
    flex-direction: column;
    
}

.populaires-img {
   width: 30%;
}

.populaires-div img {
   width: 100%;
    height: 98%;
    object-fit: cover;
    margin: 5px;
    border-radius: 10px 0px 0px 10px;
}

.populaires-div-text {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.populaires-div-text i {

}

.populaires-div-text p {
    margin-top: 5px;
}

.populaires-div-text h4, .populaires-div-text p{
    font-size: 0.8em;
    width: 70%;
}

.populaires-div-text i {
    color: #0065fc;
}

.activités {
    margin: 30px;
    margin-bottom: 100px;
}



.activités-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activités-div {
    width: 20%;
}

.activités-div h5 {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0,0, 0.1);
    border-radius: 0px 0px 10px 10px;
}

.activités-div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

footer {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    background-color: #d9d9d9;
    border-radius:5px 5px 0px 0px;
}

footer h3 {
    padding-bottom: 20px;
}

.à-propos-div {
    margin-right: 10%;
    margin-left: 5%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.à-propos-div a {
    text-decoration: none;
    color: black;
    margin-bottom: 5px;
}

